.screen-out {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    // IE에서의 hidden
    scrollbar-width: none;
    // firefox에서의 hidden
    &::-webkit-scrollbar {
        // chrome에서의 hidden
        display: none;
    }
}

body.scroll-off {
    overflow:hidden;
    -ms-touch-action: none;
    touch-action: none;
}

