.container {
  min-height: 100vh; //보여지는 뷰포트에 꽉차도록 선언 
  background-color: $booking-color-border151;
  &:not(.order){
    padding-top: $place-header-height + $place-tab-height;
    padding-bottom: $order-box-area-height;
  }  
} 
//헤더가 fix되어있어서 패딩값을 넣어줘야하는데 이전에 헤더에서 쓴 변수들을 이용해서 줄 수 있음

.common-inner {
  margin: 0 auto;
  max-width: 720px;
}

.badge-popular {
  display: inline-block;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
  background-color: #ff61a7;
  color: #fff;
}

.dimmed-layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#000,0.8);
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 9999;
  &.hidden {
    opacity: 0;
  }
  &.light {
    background-color: rgba(#000,0.4);
    
  }
}