@mixin ellipse {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin multi-ellipse($font-size, $line-height, $lines) {
  font-size: $font-size;
  line-height: $line-height;
  max-height: $line-height * $lines;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;  /* autprefixer: off */
}

@mixin common-inner {
  //중앙정렬을 나타냄 좌우 auto 이어야 하기 때문에 풀어서 써줌 
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

